#main work
nltk==3.9.4
scikit-learn==1.9.0
pydantic==2.13.4
#frontend UI
streamlit==1.59.2
requests==2.34.2
#api
fastapi==0.139.0
uvicorn==0.51.0
#model lifecycle management sys 
mlflow==3.15.1
#extra
packaging==26.0
psutil==7.0.0
rich==15.0.0
skops==0.13.0
